<div class="row">
    <div class="col-md-8">
        <h1 class="page-header"><font color="Green">The Rides Of User</font></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        
        <p><i>Ride Alongs</i></p>

    </div>
</div>

<!-- <table>

 <tr>

 <td width="80%">   
 <!-- <div class="column">
    <div class="col-md-3">
        <label>Name:<input class="form-control" type="text" ng-model="Rides.Ride.name" ></label>

     </div>
 </div>
<div class="column" >
     <div class="col-md-3">
        <label>Date:<input
            type="date"
            id="test"
            name="birthdate"
            ng-model="Rides.Ride.date" 
            popup="d MMM yyyy"
            options="dateOptions"
            opened="opened"
            custom-datepicker/></label>
        
    </div>
</div>
<div class="column">
    <div class="col-md-3">
        <label>Time:<input class="form-control" type="text" ng-model="Rides.Ride.time"  ></label>
    </div>
</div>
<div class="col">
    <div class="col-md-3">
        <label>Source:<input class="form-control" type="text" ng-model="Rides.Ride.source" ></label>
        <label>Destination:<input class="form-control" type="text" ng-model="Rides.Ride.destination" ></label>
    </div>
</div> 

<div class="row">
    <div class="col-md-4">
         <label>Count Of Ride Alongs: {{ Rides.Rides.length }} ></label>
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-md-4">
        <ul>
            <li ng-repeat="ride in Rides.Rides"> {{ ride.name + ', ' + ride.source + ' > ' + ride.destination + "  --  "+ ride.date + " ("+ride.time+")"  }}</li>
        </ul>
    </div>

</div>-->

<!-- </td>

<td width="20%" align="left"><img src="carPoll.jpg"/></td>

</tr>
</table> -->

<div class="row" width="100%"> 
      <div ui-grid="{ data: Rides.Rides }" class="myGrid"></div>
</div>

<!--<div class="row">
    <div class="col-md-8">
        <p>And what else can we use here?</p>
    </div>
</div> -->

<div class="row">
     <!--<div class="col-md-3">
        <p>... buttons!</p>
    </div> -->
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" ng-click="Rides.buttonClicked()">Query Rides</button>
    </div>
</div>




<div class="row">
      <label ng-if="Rides.Ride.is_in_db">
      	 <font color="Green"><h1>Your request is saved.</b></font>
      </label>
 </div

