

<table>

 <tr>

 <td width="80%">   
<div class="row">
    <div class="col-md-3">
        <label>Name:<input class="form-control" type="text" ng-model="users.user.name" ></label>
        <label>mail:<input class="form-control" type="text" ng-model="users.user.mail"  ></label>
     </div>
 </div>

<td width="20%" align="center">
     <img src="carPoll.jpg"/> 

</td>

</tr>
</table>


<div class="row">
     <!--<div class="col-md-3">
        <p>... buttons!</p>
    </div> -->
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" ng-click="users.signClicked()">Save</button>
    </div>
</div>

 <div class="row">
              <label ng-if="users.user.is_in_db">
             <font color="Green"><h1>Wellome to KDCarPoll!</b></font>
          </label>
 </div>


 


